@import './../../utilities/global.scss';

.carousel {
    position: relative;
    overflow: hidden;
    display: grid;
    border-radius: $main-radius;
    width: 1240px;
    height: 415px;

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__vector {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        padding: 23px;

        .vector {
            width: 46px;
            height: 79px;
            justify-content: center;
        }
    }

    &__counter {
        position: absolute;
        color: $second-color;
        font-size: $text;
        display: flex;
        padding-top: 358px;
        justify-self: center;
    }
}


// MEDIA QUERIES //

@media (max-width: 800px) {

    .carousel {
        width: 100%;
        height: 255px;

        .vector{
            width: auto;
            height: 24px;
        }
        
        &__counter {
            padding: 0px;
            visibility: hidden;
        }
    }
}
