@import './../../utilities/global.scss';

.mainAbout {
    display: flex;
    flex-direction: column;
    margin: 38px auto 38px auto;
    gap: 38px;
}

.about__collaps {
    width: 1023px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}