/****************couleur***************/

$main-color : #FF6060;

$second-color : white;

$cards-background : #FF6060;

$footer-background : #000000;


/****************font-size***************/

$nav-footer : 24px;
$banner : 48px;
$title : 36px;
$text : 18px;/*subtitle-host-collaps_accomodation-link*/
$tags : 14px;
$error : 288px;
$collaps_about : 24px;

/****************font-weigth***************/


$home : 500;
$error404 : 700;

/****************gradient***************/

$linear-gradient-cards : linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);



/****************radius***************/

$radius : 25px;
$radius-cards : 10px;


@mixin banner {
    opacity: 0.3;
    background: black;
  }