@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@500&family=Raleway:wght@400;600;700&family=Shadows+Into+Light+Two&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 45px;
}

header, main {
    max-width: 1240px;
    margin: auto;
}

