@import './../../../utilities/global.scss';

.accomodationBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .writingsTags, .hostRate {
    display: flex;
    flex-direction: column;
    }

    .hostRate {
        gap: 21px;
    }

    .rate {
        margin-top: 21px;
    }
}