@import './../../utilities/global.scss';


.bannerBox{
    display: flex;
    height: 223px;
    width: 1240px;
    position: relative;
    overflow: hidden;
    border-radius: $main-radius;
    justify-content: center;
    align-items: center;
    
    &__filter{
        position: absolute;
        width: 100%;
        height: 100%;
        @include banner;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        position: absolute;
        color: $second-color;
        font-size: $banner;
    }
}

