@import './../../../utilities/global.scss';

.tagsBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;

    .tags {
        height: 25px;
        padding: 3px 40px;
        background: $cards-background;
        font-size: 14px;
        color: $second-color;
        border-radius: $radius-cards;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


// MEDIA QUERIES //

@media (max-width: 768px) {
    .tagsBox {
        margin-top: 10px;
        flex-wrap: wrap;

        .tags {
            font-size: 10px;
            border-radius: 5px;
            padding: 3px 37px 2px 37px;
            height: auto;
        }
    }
}