@import './../../../utilities/global.scss';

.tagsBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;

    .tags {
        height: 25px;
        padding: 3px 40px;
        background: $cards-background;
        font-size: 14px;
        color: $second-color;
        border-radius: $radius-cards;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}