@import './../../utilities/global.scss';

.collaps {
    width: 100%;
    display: flex;
    flex-direction: column;

    .visible {
        display: flex;
        background-color: $cards-background;
        justify-content: space-between;
        border-radius: 5px;
        padding: 10px 20px 10px 15px;
    }
    
    &__title {
        color: $second-color;
        font-size: $nav-footer;
    }

    &__text {
        background-color: #F6F6F6;
        color: $main-color;
        font-size: $text;
        font-weight: 400;
        padding: 20px;
        border-radius: 5px;
    }
}

