@import './../../../utilities/global.scss';


.text {
    color: $main-color;
    
    .writingsTitle {
    font-size: $title;
    }

    .writingsText {
        font-size: $text;
    }
}



// MEDIA QUERIES //

@media (max-width: 768px) {

    .text {    

        .writingsTitle {
        font-size: $text;
        }
        
        .writingsText {
            font-size: $tags;
        }
    }
}