@import './../../../utilities/global.scss';

.host {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;

    .hostText {
        color: $main-color;
        font-size: $text;
    }    

    .hostImg {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    }
}


// MEDIA QUERIES //

@media (max-width: 768px) {
    .host {
        width: min-content;
    
        .hostText {
            font-size: 12px;
            text-align: end;
        }
    }
}