@import './../../utilities/global.scss';

.mainAccomodations {
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__collapse{
        display: flex;
        flex-direction: row;
        gap: 76px;
        justify-content: space-between;
    }
}


// MEDIA QUERIES //

@media (max-width: 800px) {

    .mainAccomodations {
        margin: 27px 20px 27px 20px;
        gap: 15px;
        
        &__collapse {
            flex-direction: column;
            gap: 20px;
        }
    }
}